body{
	background-color: #faf2e4;
	margin: 0 10%;
	font-family: sans-serif;
}
h1{
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px double #57b1dc;
	margin-top: 30px;
}
h2{
	color:  #d1633c;
	font-size: 1em;
}
#disclaimer{
	font-size: 12px;
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
}

.recipeImg{
	height: 300px;
}

.recipeDiv{
	display: inline-block;
	padding: 5px;
	margin: 5px;
}

.recipeHref{
	text-decoration: none;
}

.recipeHeader{
	text-align: left;
	border-bottom: none;
}